body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.markdown>*:first-child {
    margin-top: -0.7em;
}

pre {
    margin-top: 30px;
    margin-right: -10px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    line-height: 20px;
    margin-left: 1.8em;
    background: white;
    color: lightslategray;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

.pl-c {
    color: #969896
}

.pl-c1 {
    color: #0086b3
}

.pl-s {
    color: #1d3e81
}

.pl-k {
    color: #a71d5d
}

.pl-e {
    color: #795da3
}

.pl-en {
    color: #4f6bbf
}

.pl-ent {
    color: #63a35c
}

.pl-v {
    color: #000
}

.token-tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    pointer-events: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.token-tooltip-arrow {
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
    pointer-events: none;
    left: calc(50% - 7px);
    top: 100%;
}

.token-highlighted {
    background-color: lightyellow;
    padding: 3px;
    margin: -3px;
    border-radius: 2px;
}

.token-class {
    color: deepskyblue;
}

.token-transform {
    color: hotpink;
}

.token-description {
    color: lightgray;
}

.transform-list {
    list-style: none;
    margin-top: 25px;
    margin-left: -10px;
    margin-right: -35px;
    margin-bottom: 0;
    padding: 0;
}

.transform-list li {
    padding: 10px;
    margin: 0;
    border-radius: 4px;
    border-top: solid dashed;
    border-top-width: 1px;
    border-color: darkgray;
    position: relative;
}

.transform-list li:hover {
    background-color: #EFEFEF;
}

.transform-list li:hover:after {
    content: '';
    position: absolute;
    left: 100%;
    top: calc(50% - 15px);
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent transparent #EFEFEF;
    pointer-events: none;
}

.transform-name {
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: -2px;
}

.transform-tokentype {
    float: left;
    font-size: 11px;
    color: white;
    background-color: teal;
    border-radius: 2px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 5px;
}

.transform-class {
    color: crimson;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
}

.transform-pattern {
    color: royalblue;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
}